.p1{
    display: flex;
    padding-left: 50px;
    margin-left: 40px;
}
.p2{
    display: flex;
    padding-left: 50px;
    margin-left:40px;
}
.p3{
    display: flex;
    padding-left:50px;
    margin-left: 40px;
}